@font-face {
font-family: 'Bebas Neue';
src: url('../fonts/BebasNeue.eot');
src: url('../fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
url('../fonts/BebasNeue.woff') format('woff'),
url('../fonts/BebasNeue.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
body{
padding-top: 92px;
}
.clear{
clear: both;
}
.header{
border: 0;
border-radius: 0;
margin-bottom: 0;
background-color: #2c2b2a;
padding: 30px 0 30px;
}
.logo{
height: auto;
padding: 0 15px;
}
.header .headerMenu li a{
font:14px/16px 'Open Sans', sans-serif;
color: #ffffff;
padding:7px 14px;
border: 1px solid  #2c2b2a;
}
.header .headerMenu li a.active{
color:#c59966; 
border:1px solid #ffffff;
}
.header .headerMenu li a:hover{
color:#c59966; 
border:1px solid #ffffff;
}
.header .headerMenu li a:focus{
color: #c59966;
border: 1px solid #ffffff;
}
.designingBanner{
background:url('../images/designingbanner.png')no-repeat;
background-size: cover;
text-align: center;
padding-bottom: 50px;
padding-top: 150px;
margin-bottom: 94px;
}
.designingBanner h2{
font:128px/153px 'Bebas Neue';
color: #ffffff;
margin:0;
}
.designingBanner h2.border{
background: url(../images/titleline.png)no-repeat center bottom;
}
.designingBanner h2.bottomSpace{
margin-bottom: 36px;
}
.tagLine{
font:16px/19px 'Open Sans', sans-serif;
display: inline-block;
color: #1a1918;
font-weight: 600;
}
.designingBanner .tagLine{
color: #ffffff;
margin-bottom: 178px;
}
.designingBanner a{
display: table;
margin: 0 auto;
padding: 9px 14px;
border: 1px solid #ffffff;
}
.designingBanner i{
color:#c69b6e;
font-size: 11px;
}
.aboutUs{
text-align: center;
margin-bottom: 99px;
}
h3{
font:56px/67px 'Bebas Neue';
color: #1a1918;
text-align: center;
margin-top: 0;
margin-bottom:23px;
}
.aboutUs .tagLine{
margin-bottom: 73px;
}
.journey{
max-width:1062px;
margin: 0 auto;
position: relative;
margin-bottom:197px; 
}
.milestones{
border: 1px solid #cccccc;
padding: 29px 42px 23px 29px;
margin-bottom: 50px;
width: 432px;
}
.milestones i{
color: #c59a6d;
border: 1px solid #cccccc;
padding: 20px;
float:left;
}
.info{
float:left;
width: 255px;
text-align:left;
margin-left:31px;
}
.milestones h4{
margin-bottom: 25px;
margin-top: 0;
}
h4{
font:18px/21px 'Open Sans', sans-serif;
color: #c59a6d;
font-weight: 700;
}
.milestones .infoPara{
margin-bottom: 0;
}
.infoPara{
font:14px/19px 'Open Sans', sans-serif;
color: #1a1918;
font-weight: 400;
}
.awards{
margin-left: 630px;
}
.milestones .trophy{
padding: 20px 21px;
}
.milestones .office{
padding: 20px 23px;
}
.progressLine{
position: absolute;
top:75px;
left: 50%;
}
.progressBorder{
border-left: 1px solid #cccccc;
display:block;
height:541px;
margin-bottom: 2px;
}
.beginning{
position: absolute;
background:url('../images/beginning.png')no-repeat;
top:0px;
left: -6px;
height:14px;
width:63px;
}
.firstAward{
position: absolute;
background:url('../images/firstaward.png')no-repeat;
top:195px;
left: -56px;
height:14px;
width:63px;
}
.newOffice{
position: absolute;
background:url('../images/newoffice.png')no-repeat;
bottom:120px;
left: -6px;
height:14px;
width:63px;
}
.progressLine a{
font:14px/16px 'Open Sans', sans-serif;
background-color:#c59a6d;
color: #ffffff;
padding:8px 43px;
text-decoration: none;
margin-left: -85px;
font-weight: 700;
display: inline-block;
}
.progressLine a:hover{
background-color:#fa850a;
}
.aboutUs .team .tagLine{
margin-bottom:70px;
}
.team > ul{
max-width: 770px;
margin: 0 auto;
list-style-type: none;
padding-left: 0;
}
.team > ul > li{
width: 170px;
margin-right: 30px;
float: left;
text-align: left;
}
.team > ul > li:nth-child(4){
margin-right:0;
}
.team > ul > li.clear{
width:0px;
margin-right: 0px;
float:none;
}
.teamMember{
padding: 8px;
border:1px solid #cccccc;
margin-bottom: 29px;
}
.teamMember img{
display: block;
}
.team > ul > li  span{
font:16px/19px 'Open Sans', sans-serif;
color: #c59a6d;
font-weight: 700;
display: inline-block;
margin-bottom: 12px;
}
.team > ul > li  span.cfo{
font:14px/19px 'Open Sans', sans-serif;
color: #777777;
font-weight: 400;
display: inline-block;
margin-left: 16px;
}
.team ul.socialIcons{
padding-left: 0;
list-style-type: none;
}
.team ul.socialIcons li{
float: left;
margin-right:8px; 
}
.team ul.socialIcons li a{
display: block;
color: #777777;
text-decoration: none;
}
.team ul.socialIcons li a:hover{
color: #c59a6d;
}
.team ul.socialIcons li i{
display: block;
}
.team ul.socialIcons li.clear{
float: none;
margin-right: 0;
}
.works{
text-align: center;
margin-bottom: 94px;
background-color:#1b1a18;
padding: 94px 0;
}
.works h3{
color: #ffffff;
}
.works .tagLine{
color: #ffffff;
margin-bottom: 70px;
}
.services{
text-align: center;
margin-bottom: 128px;
}
.services .tagLine{
margin-bottom: 70px;
}
.servicesTypes{
margin-bottom:93px;
}
.servicesTypes i{
color: #c5996c;
}
.servicesTypes .OuterSpace{
border:1px solid #cccccc;
padding: 36px 34px;
margin-bottom: 33px;
}
.servicesTypes h4{
margin-top: 0;
}
.services .infoPara{
margin-bottom: 0;
}
.servicesTypes .bulb{
border:1px solid #cccccc;
margin-bottom: 33px;
padding:36px 48px;
}
.servicesTypes::after{
background:url('../images/servicesborder.png');
width:170px;
height:1px;
display:inline-block;
margin-top: 95px;
}
.prices .tagLine{
margin-bottom: 95px;
}
.priceSection{
background-color:#f6f6f6;
padding-top: 48px;
padding-bottom: 50px;
}
.priceSection h4{
margin-top: 0;
margin-bottom: 10px;
}
.priceSection strong{
font:72px/86px 'Open Sans', sans-serif;
font-weight: 700;
color:#1a1918;
display: inline-block;
}
.priceSection span.monthly{
font-weight: 700;
padding-bottom: 26px;
border-bottom: 1px solid #c69b6e;
margin-bottom: 28px;
}
.priceSection span{
font:14px/16px 'Open Sans', sans-serif;
font-weight:400;
color:#1a1918;
display: table;
margin: 0 auto;
margin-bottom:16px;
}
.priceSection span.performance{
margin-bottom: 45px;
}
.priceSection a{
font:14px/16px 'Open Sans', sans-serif;
font-weight: 700;
color: #ffffff;
background-color:#c59a6d;
text-decoration: none;
display: inline-block;
padding: 8px 45px;
}
.priceSection a:hover{
background-color: #fa850a;
}
.priceSection:hover{
background: #ffffff;
border:1px solid #cccccc;
}
.sentance{
background:url('../images/sentancebanner.png');
text-align: center;
padding: 124px 0;
background-size: cover;
margin-bottom: 94px;
}
.sentance h2{
font:32px/51px 'Open Sans', sans-serif;
font-weight: 700;
color: #ffffff;
margin:0;
}
.sentance h2.borderBottom{
background: url(../images/sentanceborder.png)no-repeat center bottom;
}
.testimonials{
text-align: center;
margin-bottom: 96px;
}
.testimonials .tagLine{
margin-bottom: 70px;
}
.clients{
text-align: center;
}
.clients ul{
list-style-type: none;
padding-left: 0;
max-width: 1170px;
margin: 0 auto;
}
.clients ul li{
float: left;
margin-right: 30px;
}
.clients ul li:nth-child(6){
margin-right: 0;
}
.clients ul li a{
display: block;
}
.clients ul li img{
display: block;
}
.clients ul li.clear{
float: none;
margin-right: 0;
}
.coolFacts{
background:url('../images/coolfactsbanner.png')no-repeat;
background-size: cover;
text-align: center;
padding: 85px 0;
margin-bottom: 94px;
}
.coolFacts h3{
color: #ffffff;
}
.coolFacts .tagLine{
color: #ffffff;
margin-bottom: 67px;
}
.coolFacts ul{
list-style-type: none;
padding-left: 0;
margin-bottom: 0;
}
.coolFacts ul li{
float:left;
margin-right: 52px;
margin-bottom: 0;
}
.coolFacts ul li.clear{
float:none;
}
.coolFacts i{
color: #ffffff;
float: left;
}
.factsInfo{
float: left;
width: 162px;
text-align:left;
margin-left: 26px;
}
.factsInfo h6{
font:56px/67px 'Open Sans', sans-serif;
font-weight: 700;
color: #ffffff;
margin-top:-14px;
margin-bottom: 7px;
}
.factsInfo span{
font:16px/19px 'Open Sans', sans-serif;
font-weight: 700;
color: #c59a6d;
display: inline-block;
}
.contact{
text-align: center;
}
.contact .tagLine{
margin-bottom: 70px;
}
textarea{
display: block;
width: 100%;
font:14px/19px 'Open Sans', sans-serif;
background-color: #f6f6f6;
border: 1px solid #cccccc;
font-weight: 400;
color: #777777;
padding: 17px 16px;
margin-top: 30px;
height: 200px;
margin-bottom: 75px;
outline: 0;
}
textarea:hover{
border:1px solid #f0800b;
}
textarea:focus{
background-color: #2c2b2a;
}
form{
max-width: 1170px;
margin:0 auto;
margin-bottom: 100px;
}
input[type="text"]{
font:14px/19px 'Open Sans', sans-serif;
font-weight: 400;
color: #777777;
padding: 12.5px 16px;
width: 370px;
margin-right:26px;
background-color: #f6f6f6;
border: 1px solid #cccccc;
outline: 0;
}
input[type="text"]:hover{
border:1px solid #f0800b;
}
input[type="text"]:focus{
background-color: #2c2b2a;
}
input[type="text"].pnoneNumber{
margin-right: 0;
}
input[type="submit"]{
border: 0;
outline: 0;
background-color:#c59a6d;
font:14px/16px 'Open Sans', sans-serif;
color: #ffffff;
font-weight: 700;
padding: 16px 42px;
}
input[type="submit"]:hover{
background-color: #fa850a;
}
.findUs{
background: url('../images/findbanner.png')no-repeat;
background-size: cover;
text-align:center;
padding-top: 94px;
padding-bottom: 52px;
}
.findUs h3{
color: #ffffff;
}
.findUs .tagLine{
color: #ffffff;
margin-bottom: 63px;
}
.findUs ul{
padding-left: 0;
margin-bottom: 0;
}
.findUs ul li{
float: left;
margin-right:166px;
}
.findUs ul li.clear{
float:none;
}
.findUs i{
color: #ffffff;
float: left;
}
.contactInfo{
width:148px;
float: left;
margin-left: 33px;
text-align: left;
}
.findUs span{
color: #ffffff;
display: block;
font:14px/19px 'Open Sans', sans-serif;
font-weight: 400;
margin-bottom: 2px;
}
.findUs h4{
margin-top: 0;
margin-bottom: 25px;
}
.footer{
color: #191918;
padding: 53px 0 48px;
}
.footer span{
font:14px/16px 'Open Sans', sans-serif;
float: left;
font-weight: 400;
}
.footer ul{
float: right;
padding-left: 0;
list-style-type: none;
margin-bottom: 0;
}
.footer ul li{
float: left;
margin-right: 20px;
}
.footer ul li:nth-child(7){
margin-right: 0;
}
.footer ul li.clear{
float: none;
margin-right: 0;
}
.footer ul li i{
display: block;
}
.footer ul li a{
display: block;
text-decoration: none;
color: #191918;
}
.footer ul li a:hover{
color: #c59a6d;
}
.example-pager{
text-align: center;
width: 100%;
z-index: 50;
overflow: hidden;
}
.example-pager > *{
cursor: pointer;
}
.example-pager span{
font-size: 30px;
width: 16px;
height:16px;
display: inline-block;
color: #ddd;
}
.example-pager span.cycle-pager-active{
color:#D69746;
}
.testimonialsSlider{
margin-bottom: 195px;
}
.cycle-slideshow{
max-width: 150px;
margin: 0px auto 26px;
padding:0px;
position: relative;
}
.center{
text-align: center;
font:16px/22px 'Open Sans', sans-serif;
color: #191918;
max-width: 770px;
margin: 0 auto;
}

.slideshow { margin: auto }
.slideshow img {
 padding: 14px;
border:1px solid #555555;
margin-right: 30px;
}
.cycle-pager { position: static; margin-top: 5px }
.cycle-pager span.cycle-pager-active{
color:#D69746;
}
.cycle-pager span{
    font-family: arial;
    font-size: 50px;
    width: 16px;
    height: 16px;
    display: inline-block;
    color: #ddd;
    cursor: pointer;
}
.cycle-pager > *{
cursor: pointer;
}
.center{
margin-top: 40px;
}
.center a{
border: 1px solid #ffffff;
padding: 11px 21px;
display: inline-block;
}
.center i{
color:#c59a6d;
}
#next{
margin-left: 28px;
}