html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
small,
b,
strong,
u,
i,
ol,
ul,
li,
form,
label,
iframe{
margin: 0;
padding: 0;
border: 0;
list-style-type: none;
line-height: 0;
}
body{
font-family: 'Open Sans', sans-serif;
}
.header{
padding: 10px 0 14px;
}
.leftIcon{
float: left;
margin-top:15px;
}
.leftIcon:hover{
text-decoration: none;
}
.leftIcon:focus{
text-decoration: none;
}
.leftIcon:visited{
text-decoration: none;
}
.leftAngle{
font-weight: 100;
color:#e13d37;
display: block;
}
.logo{
float: left;
margin-left: 25px;
}
.headerForm{
float: left;
margin-left: 38px;
margin-top: 9px;
}
.locationCategory{
font-size: 15px;
line-height: 22px;
color:#444444; 
font-weight: 300;
box-shadow:none;
outline: none;
border: 1px solid #dddddd;
border-radius: 3px;
width: 370px;
height: 40px;
padding: 9px 13px;
box-sizing: border-box;
float: left;
}
.locationCategory:focus{
border-color: #dddddd;
box-shadow: none;
}
.projectType{
float: left;
margin-left: 15px;
}
.projectBtn:hover{
background-color: #ffffff;
border-color: #dddddd;
}
.downAngle{
color: #4b4b4b;
float: right;
margin-top: 3px;
}
.projectBtn{
font-size: 15px;
line-height: 22px;
color: #444444;
font-weight: 300;
height: 40px;
width: 185px;
box-sizing: border-box;
padding: 9px 13px;
text-align: left;
border-radius: 3px;
border: 1px solid #dddddd;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
background-color: #ffffff;
border-color: #dddddd;
outline: none;
color: #444444;
}
.projectList{
width: 185px;
}
.header ul.options{
float:right;
margin-top: 17px;
margin-bottom: 0;
margin-left: 30px;
}
.header ul.options  li{
float: left;
margin-right: 25px;
}
.header ul.options li:last-child{
margin-right: 9px;
}
.header ul.options li a{
display: block;
color: #dd251e;
}
.header ul.options li i{
font-size: 20px;
}
.header ul.options li a.compare{
display: block;
font-size: 13px;
line-height: 15px;
color: #dd251e;
text-decoration: none;
font-weight: 400;
}
.call{
float: right;
margin-top: 17px;
}
.callIcon{
background-image: url('../images/call.png');
background-repeat: no-repeat;
display: inline-block;
vertical-align: middle;
width: 15px;
height: 15px;
}
.call span{
font-size: 13px;
line-height: 15px;
font-weight: 600;
color: #888888;
display: inline-block;
vertical-align: middle;
margin-left: 8px;
}
.discountSection{
background:url('../images/discountbanner.png')no-repeat;
background-size: cover;
text-align: center;
padding: 16px 0 21px;
margin-bottom: 41px;
}
.discountSection span{
font-size: 24px;
line-height: 34px;
color: #ffffff;
font-weight: 400;
margin-bottom: 19px;
display:block;
}
.discountSection a{
display: inline-block;
border: 1px solid #ffffff;
font-size:13px;
line-height: 28px;
color: #ffffff;
background-color: #cc0000;
text-decoration: none;
border-radius: 3px;
padding: 0 13px;
font-weight: 600;
}
.discountSection a.active{
background-color: #ffffff;
color: #cc0000;
padding: 0 13px;
margin-right: 15px;
}
.discountSection a:hover{
background-color: #ffffff;
color: #cc0000;
}
.requirementsSection{
background:url('../images/requirementsbanner.png')no-repeat;
background-size: cover;
text-align: center;	
padding: 72px 0;
margin-bottom: 42px;
}
.requirementsSection span{
display: inline-block;
font-size: 36px;
max-width: 519px;
line-height: 52px;
font-weight: 300;
color: #ffffff;
margin-bottom: 36px;
}
.requirementsSection a{
display: table;
margin: 0 auto;
background-color: #ffffff;
font-size: 16.5px;
line-height: 22px;
color: #dd251e;
text-decoration: none;
font-weight: 600;
border-radius: 3px;
padding: 15.5px 13px;
border:1px solid #ffffff;
}
.requirementsSection a:hover{
color: #ffffff;
background-color: #dd251e;
}
.releventProperties .mainContent{
margin-top: 33px;
}
.releventProperties{
max-width: 1090px;
margin: 0 auto;
margin-bottom: 20px;
}
.releventProperties h3{
font-size: 18px;
line-height: 24px;
font-weight: 400;
color: #444444;
text-align: center;
}
.sort{
float: right;
top: -17px;
}
.sortBtn{
font-size: 14px;
line-height: 16px;
color: #222222;
font-weight: 400;
text-align: left;
border:0;
padding: 0;
}
.sortBtn:hover{
background-color: #ffffff;
}
.sortDropdown{
background-image:url('../images/sprite.png');
background-repeat: no-repeat;
display: inline-block;
vertical-align: middle;
width: 12px;
height:7px;
margin-left: 10px;
background-position:-171px -3px;  
}
.heart{
background-image: url('../images/sprite.png');
background-repeat: no-repeat;
display: inline-block;
text-align: center;
height:15px;
width:19px;
background-position: 0 -3px;
}
.heart:hover{
background-position:-25px -3px;
}
.releventProperties > ul > li{
border:1px solid #dddddd;
float: left;
margin:0 30px 30px 0;
width: 250px;
}
.releventProperties > ul > li:nth-child(4n+4){
margin-right: 0;
}
.releventProperties > ul > li:hover .details{
margin-top: -50px;
}
.releventProperties > ul > li:hover .subInfo{
margin-top: 63px;
}
.releventProperties > ul > li:hover .moreInfo{
display: block;
}
.overlay{
width: 250px;
height: 159px;
padding: 8px;
}
.like{
float: right;
}
.subInfo{
margin-top:113px; 
}
.subInfo ul{
float: left;
}
.subInfo ul li{
float: left;
margin-right: 11px;
}
.subInfo ul li a{
display: block;
font-size:11px;
line-height: 22px;
font-weight: 400;
color: #ffffff;
text-decoration: none;
}
.subInfo ul li a:hover .gallery{
background-position:-1px -28px;
}
.subInfo ul li a:hover .videos{
background-position:-18px -28px;
}
.number{
display: inline-block;
vertical-align: middle;
}
.gallery{
background-image:url('../images/sprite.png');
background-repeat: no-repeat;
display: inline-block;
vertical-align: middle;
width:12px;
height:11px;
margin-right: 6px;
background-position:-189px -3px;
}
.videos{
background-image:url('../images/sprite.png');
background-repeat: no-repeat;
display: inline-block;
vertical-align: middle;
width:12px;
height:11px;
margin-right: 5px;
background-position:-207px -4px;
}
.propertyPic{
position: relative;
z-index: 20;
}
.propertyImg img{
display: block;
}
.overlay{
position: absolute;
top:0;
}
.topSection > span{
float: left;
font-size: 10px;
line-height:15px;
color: #ffffff;
font-weight: 600;
margin: -9px 0 0 -9px;
padding: 0 4px;
}
.topSection .flash{
background-color: #4ab4f0;
}
.topSection .inventory{
background-color: #ff9900;
}
.topSection .exclusive{
background-color: #da4815;
}
.topSection .workshop{
background-color: #09dbc5;
}
.subInfo > span{
float: right;
color:#ffffff;
font-size: 13px;
line-height: 22px;
font-weight: 400; 
}
.dropPrice{
float: right;
}
.priceBtn{
padding: 0;
background-color:transparent;
color: #ffffff;
border:none;
}
.priceBtn:hover{
background-color: transparent;
color: #da251e;
}
.subInfo .priceMenu > li > a{
color:#000000;
}
.subInfo .priceMenu > li > a:hover{
color: #da251e;	
}
.subInfo .priceMenu > li{
float:none;
margin-right: 0;
}
.priceMenu{
min-width: 59px;
text-align: center;
}
.priceMenu > li > a{
padding: 2px;
}
.details{
padding: 13px 14px 12px;
z-index: 60;
position: relative;
background-color: #ffffff;
}
.details >  a{
font-size: 18px;
line-height: 22px;
font-weight: 600;
color: #da251e;
margin-bottom:13px;
display: block;
text-decoration: none;
}
.details span{
display:inline-block;
font-size: 12px;
line-height: 18px;
font-weight: 400;
color: #666666;
}
.data{
margin-bottom: 6px;
}
.data span.projectOwner{
max-width:110px;
float: left;
}
.data span.rateInfo{
float:right;
margin-top: 17px;
}
.buyersInfo a.buyers{
color:#ff3322;
float: left;
text-decoration: none;
font-size: 12px;
line-height: 18px;
font-weight: 400;
}
.buyersInfo span.propertyPrice{
font-size: 14px;
line-height: 18px;
color: #444444;
float:right;
font-weight: 700;
}
.moreInfo{
border-top:1px solid #dddddd;
padding: 10px 14px 9px;
display: none;
}
.moreInfo > a{
text-decoration: none;
color: #ffffff;
font-size: 12px;
line-height: 26px;
font-weight: 600;
background-color: #da251e;
float: left;
border-radius: 3px;
padding: 1px 12px;
border:1px solid #da251e;
}
.moreInfo > a:hover{
color: #da251e;
background-color: #ffffff;
border:1px solid #da251e;
}
.more{
float: right;
margin-top:11px;
}
.moreBtn{
padding: 0;
font-size: 12px;
line-height: 12px;
font-weight: 400;
color: #222222;
border:none;
}
.moreMenu{
min-width: 80px;
}
.moreMenu >li >a{
padding: 3px;
}
.moreMenu li a:hover{
color: #da251e;
}
.moreBtn:hover{
color: #da251e;
background-color: #ffffff;	
}
.analysisSection{
text-align: center;
}
.analysisSection h3{
font-size: 36px;
line-height: 38px;
color: #666666;
font-weight: 300;
margin:0 0 36px;
}
.analysisMenu{
display: inline-block;
margin-bottom: 0;
}
.analysisMenu li{
float: left;
margin-right: 30px;
}
.analysisMenu li:last-child{
margin-right: 0;
}
.analysisMenu li.active{
border-bottom: 2px solid #222222;
}
.analysisMenu .active a{
color: #222222;
}
.analysisMenu li a{
font-size: 16px;
line-height: 22px;
text-decoration: none;
font-weight: 600;
display: block;
padding: 0 15px 12px;
border-bottom: 2px solid #ffffff;
color:#dd251e;
}
iframe{
width: 100%;
height: 450px;
border:0;
}
.couponInfo{
max-width: 749px;
margin: 0 auto 43px;
}
.couponPic{
float: left;
margin-top: 116px;
}
.couponPic a{
display:block; 
}
.couponPic img{
display:block; 
}
.mainInfo{
float: left;
margin-left:20px;
max-width: 453px;
}
.mainInfo h4{
font-size: 36px;
line-height: 52px;
font-weight:300;
color: #222222;
margin-bottom: 13px;
}
.coupenMenu{
margin-bottom: 22px;
}
.coupenMenu li{
float: left;
margin-right:9px;
}
.coupenMenu li a{
font-size: 13px;
line-height: 26px;
color:#da251e;
display:block;
text-decoration:none;
border:1px solid #da251e;
padding: 1px 32px;
border-radius: 3px;
}
.coupenMenu .active a{
background-color:#da251e;
color:#ffffff;
}
.coupenMenu li a:hover{
background-color:#da251e;
color:#ffffff;	
}
.coupenMenu li:last-child{
margin-right: 0;
}
.info p{
font-size: 14px;
line-height: 26px;
color: #666666;
font-weight: 400;
}
.footer{
background-color:#222222;
padding: 50px 0 33px;
}
.footer > ul{
max-width: 1100px;
margin: 0 auto 38px;
}
.footer > ul >li{
float: left;
margin-right:58px;
}
.footer > ul >li:nth-child(2){
margin-right: 82px;
}
.footer > ul >li:nth-child(3){
margin-right:134px;
}
.footer > ul >li:nth-child(4){
margin-right:111px;
}
.footer > ul >li:nth-child(5){
margin-right:100px;
}
.footer > ul >li:last-child{
margin-right:0;
}
.footer h6{
font-size: 14px;
line-height: 16px;
font-weight: 600;
color:#666666;
margin-bottom: 25px;
}
.footer ul.list li{
margin-bottom: 7px;
}
.footer ul.list li a{
font-size: 12px;
font-weight: 400;
line-height: 14px;
color: #bbbbbb;
text-decoration: none;
padding: 2px 0;
display:block;
}
.footer ul.list li a:hover{
color:#da251e;
}
.footer ul.list li:last-child{
margin-bottom: 0;
}
.footer ul.list li span{
display:inline-block;
font-size:12px;
line-height: 14px;
color:#666666;
font-weight: 400;
}
.footer ul.list li span.color{
color: #bbbbbb;
margin-left: 18px;
}
.footer ul.list li span.sms{
color: #bbbbbb;
}
.footer ul.socialIcons{
margin-bottom: 30px;
}
.footer ul.socialIcons li{
float: left;
margin-right: 19px;
}
.footer ul.socialIcons li:last-child{
margin-right: 0;
margin-top: 3px;
}
.footer ul.socialIcons li a{
display: block;
}
.facebook{
background-image: url('../images/sprite.png');
background-repeat: no-repeat;
display: inline-block;
vertical-align: middle;
background-position:-51px -1px; 
width:10px ;
height: 20px;
}
.footer ul.socialIcons li a:hover .facebook{
background-position:-65px -1px;
}
.footer ul.socialIcons li:nth-child(2){
margin-top: 4px;
}
.twitter{
background-image: url('../images/sprite.png');
background-repeat: no-repeat;
display: inline-block;
vertical-align: middle;
background-position:-81px -1px; 
width:19px ;
height: 16px;
}
.footer ul.socialIcons li a:hover .twitter{
background-position:-103px -1px;
}
.linkedin{
background-image: url('../images/sprite.png');
background-repeat: no-repeat;
display: inline-block;
vertical-align: middle;
background-position:-126px -1px; 
width:18px;
height: 17px;
}
.footer ul.socialIcons li a:hover .linkedin{
background-position:-149px -1px;
}
.footer > span{
display: table;
margin:0 auto;
color: #666666;
font-weight: 400;
font-size: 11px;
line-height: 13px;
}