html, body, div, span,
h1, h2, h3, h4, h5, h6, p,input,
a, img, strong, sub, sup, u, i, ol, ul, li, form, label {
margin: 0;
padding: 0;
border: 0;
list-style-type: none;
text-decoration: none;
outline: none;
}
.clear{
clear: both;
}
.container{
width: 940px;
margin: 0 auto;
}
.headerPlaceholder{
height: 93px;
margin-bottom:107px;
}
.headerWrapper{
background:url('../images/headerbanner.png')no-repeat;
background-size: cover;
padding-bottom: 107px;
margin-bottom: 80px;
}
.header{
border-top:2px solid #ff6868;
padding: 32px 0;
position: fixed;
top: 0;
width: 100%;
background:rgba(58,66,76,1);
-moz-transition:all linear 1s;
-webkit-transition:all linear 1s;
-ms-transition:all linear 1s;
-o-transition:all linear 1s;
transition:all linear 1s;
}
.scrollHeader{
background: #000;
/*background:rgba(59,67,77,1);*/
-moz-transition:all linear 1s;
-webkit-transition:all linear 1s;
-ms-transition:all linear 1s;
-o-transition:all linear 1s;
transition:all linear 1s;
z-index: 30;
}
.logo{
float: left;
font:22px/27px 'Open Sans', sans-serif;
color:#ff6868;
font-weight: 800;
background: #ff6868; /* Old browsers */
background: -moz-linear-gradient(top,  #ff6868 0%, #ff6868 49%, #fa6767 52%, #da6163 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ff6868 0%,#ff6868 49%,#fa6767 52%,#da6163 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ff6868 0%,#ff6868 49%,#fa6767 52%,#da6163 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6868', endColorstr='#da6163',GradientType=0 ); /* IE6-9 */
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.header ul{
float: right;
margin-top: 6px;
}
.header ul li{
float: left;
margin-right: 19px;
}
.header ul li:last-child{
margin-right: 0;
}
.header ul li a{
font:14px/16px 'Open Sans', sans-serif;
color: #ffffff;
font-weight: 700;
display: block;
}
.header ul li a:hover{
color:#f20b0b;
}
.deliverContent p{
color:#ffffff;
width: 423px;
margin-bottom: 26.5px;
}
.repeatitivePara{
font:14px/21px 'Gentium Book Basic', serif;
font-weight: 400;
}
.deliverContent h3{
font:52px/54px 'Open Sans', sans-serif;
font-weight: 700;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff6868+0,ff6868+49,f16666+52,a8585d+100 */
background: #ff6868; /* Old browsers */
background: -moz-linear-gradient(top,  #ff6868 0%, #ff6868 49%, #f16666 52%, #a8585d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ff6868 0%,#ff6868 49%,#f16666 52%,#a8585d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ff6868 0%,#ff6868 49%,#f16666 52%,#a8585d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6868', endColorstr='#a8585d',GradientType=0 ); /* IE6-9 */
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom: 27.5px;
}
form{
margin-bottom: 33px;
}
input[type="email"]{
width: 336px;
height: 46px;
box-sizing: border-box;
font:12px/14px 'Open Sans', sans-serif;
font-weight: 700;
color:#a2a2a2;
padding: 16px 26px;
background-color: #4a515b;
border-radius: 2px;
}
input[type="submit"]{
font:12px/14px 'Open Sans', sans-serif;
font-weight: 700;
color: #ffffff;
background-color:#ff6868;
display: inline-block;
padding: 16px 30px;
border-radius:5px;
margin-left: 16px;
}
input[type="submit"]:hover{
background-color: #f20b0b;
}
.deliverContent ul li{
float:left;
margin-right: 22px;
}
.deliverContent ul li.clear{
float:none;
margin-right:0;
}
.deliverContent {
width: 462px;
float: left;
}
.deliverContent ul li a{
display: table-cell;
vertical-align: middle;
text-align: center;
height: 46px;
width: 46px;
border-radius: 50%;
border:2px solid #fa6767; 
}
.deliverContent ul li a.active{
background-color:#fa6767;
}
.deliverContent ul li a:hover{
background-color:#fa6767;
}
.facebook{
background: url('../images/sprite.png')no-repeat;
background-position:0 0;
display: inline-block;
vertical-align: middle;
width: 8px;
height: 18px;
}
.deliverContent ul li a:hover .facebook{
background-position:-40px 0;
}
.twitter{
background: url('../images/sprite.png')no-repeat;
background-position:-55px 0;
display: inline-block;
vertical-align: middle;
width: 18px;
height: 15px;
}
.linkedin{
background: url('../images/sprite.png')no-repeat;
background-position:-15px 0;
display: inline-block;
vertical-align: middle;
width: 18px;
height: 17px;
}
.deliverContent ul li a:hover .linkedin{
background-position:-78px 0;
}
h2{
font:38px/40px 'Open Sans', sans-serif;
font-weight: 300;
text-align: center;
color: #3a424c;
}
.services h2{
margin-bottom: 75px;
}
.structure{
position: relative;
}
.horizontalLine{
border-top: 2px dashed #f1f3f5;
display:block;
width:642px;
margin:0 auto;
margin-bottom: 75px;
}
.verticalLine{
border-left:2px dashed #f1f3f5;
display:block;
height:80px;
position: absolute;
left: 468px;
top:-48px;
}
.lineLeft{
border-left:2px dashed #f1f3f5;
display:block;
top:0;
position: absolute;
height: 30px;
left: 147px;	
}
.lineRight{
border-right:2px dashed #f1f3f5;
display:block;
top:0;
position: absolute;
height: 30px;
right: 147px;
}
.verticalLine::before{
content: "";
position: absolute;
width: 28px;
height: 65px;
border-radius: 50%;
background: transparent;
border-bottom: 3px solid #ff6868;
border-right: 3px solid transparent;
border-left: 3px solid  transparent;
top: -69px;
left:-17px;
}
.verticalLine::after{
content: "";
position: absolute;
width: 28px;
height: 65px;
border-radius: 50%;
background: transparent;
border-top: 3px solid  #ff6868;
border-right:3px solid  transparent;
border-left: 3px solid transparent;
left: -17px;
top:80px;
}
.lineLeft::after{
content: "";
position: absolute;
width: 28px;
height: 65px;
border-radius: 50%;
background: transparent;
border-top: 3px solid  #ff6868;
border-right: 3px solid  transparent;
border-left: 3px solid  transparent;
left: -17px;
top:30px;
}
.lineRight::after{
content: "";
position: absolute;
width: 28px;
height: 65px;
border-radius: 50%;
background: transparent;
border-top: 3px solid  #ff6868;
border-right:3px  solid  transparent;
border-left: 3px solid transparent;
left: -15px;
top:30px;
}
.services{
margin-bottom: 87.5px;
}
.services ul li{
float: left;
width:296px;
margin-right: 26px;
text-align: center;
}
.services ul li:nth-child(3){
margin-right: 0;
}
.services ul li.clear{
float: none;
width: 0;
margin-right: 0;
}
.services ul li img{
margin-bottom: 23px;
}
.services ul li h4{
font: 24px/26px 'Open Sans', sans-serif;
color:#3a424c;
font-weight: 400;
margin-bottom: 19.5px;
}
.services ul li p{
color:#99a0a8;
}
.slider{
background:url('../images/sliderImg.png')no-repeat;
background-size:cover;
padding: 62px 0;
margin-bottom: 88px;
}
.slideOne{
width:786px;
margin:0 auto;
}
.designerPic{
float: left;
}
.designerInfo{
float: left;
margin-left:20px;
width: 460px;
}
.repeatitiveHeading{
font:32px/34px 'Open Sans', sans-serif; 
font-weight: 800;
}
.designerInfo h3{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4a515b+0,ff6868+0,fa6767+49,ae595e+100 */
background: #4a515b; /* Old browsers */
background: -moz-linear-gradient(top,  #4a515b 0%, #ff6868 0%, #fa6767 49%, #ae595e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4a515b 0%,#ff6868 0%,#fa6767 49%,#ae595e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4a515b 0%,#ff6868 0%,#fa6767 49%,#ae595e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a515b', endColorstr='#ae595e',GradientType=0 ); /* IE6-9 */
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom: 5px;
}
.designerInfo span{
font:24px/26px 'Open Sans', sans-serif; 
font-weight: 300;
color: #ffffff;
display: inline-block;
margin-bottom: 18.5px;
}
.designerInfo p{
color: #ffffff;
margin-bottom: 17.5px;
}
.designerInfo ul{
margin-bottom: 21px;
}
.designerInfo ul li{
float: left;
margin-right:16px;
}
.designerInfo ul li.clear{
float:none;
margin-right:0;
}
.designerInfo ul li a{
height: 36px;
width: 36px;
border:2px solid #ff6868;
border-radius: 50%;
display: table-cell;
vertical-align: middle;
text-align: center;
}
.designerInfo ul li a:hover{
background-color: #ff6868;
}
.designerFb{
background-image: url('../images/sprite.png');
background-repeat: no-repeat;
background-position: -102px -1px;
width: 7px;
height: 16px;
display: inline-block;
vertical-align: middle;
}
.designerInfo ul li a:hover .designerFb{
background-position: -112px -1px;
}
.designerInfo ul li a.active{
background-color: #ff6868;
}
.designerTwitter{
background-image: url('../images/sprite.png');
background-repeat: no-repeat;
background-position: -235px -1px;
width: 14px;
height: 13px;
display: inline-block;
vertical-align: middle;
}
.designerLinkedin{
background-image: url('../images/sprite.png');
background-repeat: no-repeat;
background-position: -140px -1px;
width: 15px;
height: 15px;
display: inline-block;
vertical-align: middle;
}
.designerInfo ul li a:hover .designerLinkedin{
background-position: -159px -1px;
}
.designerInfo .skillsText{
float: left;
font:14px/16px 'Open Sans', sans-serif; 
font-weight: 700;
margin-bottom: 0;
}
.designerInfo .number{
float: right;
font:14px/16px 'Open Sans', sans-serif; 
font-weight: 700;
margin-bottom: 0;
color: #ff6868;
}
.meter { 
height:4px; 
position: relative;
background: #4a515b;
}
.meter  span {
display: block;
height: 100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4a515b+0,4a515b+0,57535c+29,9a5b61+60,e66566+100 */
background: #4a515b; /* Old browsers */
background: -moz-linear-gradient(left,  #4a515b 0%, #4a515b 0%, #57535c 29%, #9a5b61 60%, #e66566 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #4a515b 0%,#4a515b 0%,#57535c 29%,#9a5b61 60%,#e66566 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #4a515b 0%,#4a515b 0%,#57535c 29%,#9a5b61 60%,#e66566 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a515b', endColorstr='#e66566',GradientType=1 ); /* IE6-9 */
}
.skillsInfo{
margin-bottom: 11px;
}
.portfolio h2{
margin-bottom: 60px;
}
.portfolio ul.portfolioMenu{
width: 440px;
margin: 0 auto;
margin-bottom: 65px;
}
.portfolio ul.portfolioMenu li{
float: left;
}
.portfolio ul.portfolioMenu li.clear{
float: none;
}
.portfolio ul.portfolioMenu li a{
font:16px/18px 'Open Sans', sans-serif;
display: block;
color: #99a0a8;
padding: 9px 17px;
border:1px solid #ffffff;
border-radius: 6px;
}
.portfolio ul.portfolioMenu li a:hover{
border:1px solid #ff6868;
}
.portfolio ul.portfolioMenu li a.active{
color: #ffffff;
background-color: #ff6868;
padding:9px 21.5px;
border-radius: 6px;
}
.plus{
background-image:url('../images/sprite.png');
background-repeat: no-repeat;
height: 36px;
width: 36px;
background-position: -246px -187px;
display: inline-block;
vertical-align: middle;
margin-left: 14px;
}
.projectInfo{
width: 325px;
height: 326px;
text-align: center;
background:rgba(0,0,0,0.4);
display: none;
top:0;
position: absolute;
}
.projectInfo a{
display: inline-block;
font:24px/26px 'Open Sans', sans-serif;
font-weight: 800;
margin-top: 152px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4a515b+0,ff6868+0,fa6767+54,d36062+100 */
background: #4a515b; /* Old browsers */
background: -moz-linear-gradient(top,  #4a515b 0%, #ff6868 0%, #fa6767 54%, #d36062 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4a515b 0%,#ff6868 0%,#fa6767 54%,#d36062 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4a515b 0%,#ff6868 0%,#fa6767 54%,#d36062 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a515b', endColorstr='#d36062',GradientType=0 ); /* IE6-9 */
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.portfolio ul.portfolioImages li{
float: left;
position: relative;
}
.portfolio ul.portfolioImages li.clear{
float:none;
}
.portfolio ul.portfolioImages li:hover .projectInfo{
display: block;
}
.portfolio ul.portfolioImages li.active .projectInfo{
display: block;
}
.portfolio ul.portfolioImages li img{
display: block;
}
.clients{
background-color: #38404a;
padding-top:46px;
padding-bottom:46px;
margin-bottom: 88px;
}
.clients ul li{
float: left;
margin-right: 64px;
}
.clients ul li.clear{
float: none;
margin-right: 0;
}
.clientMicrosoft{
background-image: url('../images/sprite.png');
background-repeat: no-repeat;
background-position: 0 -25px;
display: inline-block;
vertical-align: middle;
width:201px;
height: 43px;
}
.clients ul li a:hover .clientMicrosoft{
background-position:-215px -28px;
}
.clients ul li:nth-child(1){
margin-top:4px;
}
.clients ul li:nth-child(2){
margin-top:12px;
}
.clientTwitter{
background-image: url('../images/sprite.png');
background-repeat: no-repeat;
background-position: 0 -83px;
display: inline-block;
vertical-align: middle;
width:176px;
height: 27px;
}
.clientSpotify{
background-image: url('../images/sprite.png');
background-repeat: no-repeat;
background-position: 0 -135px;
display: inline-block;
vertical-align: middle;
width:156px;
height:49px;
}
.clients ul li a:hover .clientSpotify{
background-position:-215px -81px;
}
.clients ul li:nth-child(3){
margin-right:61px;
}
.clients ul li:nth-child(4){
margin-top: 9px;
margin-right:0;
}
.clientTechcrunch{
background-image: url('../images/sprite.png');
background-repeat: no-repeat;
background-position: -213px -141px;
display: inline-block;
vertical-align: middle;
width:217px;
height:32px;
}
.clients ul li a:hover .clientTechcrunch{
background-position:0 -198px;
}
.blog{
margin-bottom: 92px;
}
.blog h2{
margin-bottom: 54px;
}
.blog ul{
margin-bottom: 45px;
}
.blog ul li{
float: left;
width: 455px;
margin-right: 30px;	
margin-bottom: 20px;
cursor: pointer;
}
.blog ul li.clear{
float:none;
width: 0;
margin-right:0;	
}
.blogPic{
float: left;
}
.blogPic img{
display: block;
}
.blogInfo{
float:left;
margin-left:20px;
width: 215px;
}
.blogInfo h3{
font:24px/26px 'Open Sans', sans-serif;
font-weight: 800;
color: #3a424c;
margin-bottom: 5px;
}
.blogInfo h3.active{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4a515b+0,ff6868+0,ff6d6d+54,ffaeae+100 */
background: #4a515b; /* Old browsers */
background: -moz-linear-gradient(top,  #4a515b 0%, #ff6868 0%, #ff6d6d 54%, #ffaeae 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4a515b 0%,#ff6868 0%,#ff6d6d 54%,#ffaeae 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4a515b 0%,#ff6868 0%,#ff6d6d 54%,#ffaeae 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a515b', endColorstr='#ffaeae',GradientType=0 ); /* IE6-9 */
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.blog ul li:hover .blogInfo h3{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4a515b+0,ff6868+0,ff6d6d+54,ffaeae+100 */
background: #4a515b; /* Old browsers */
background: -moz-linear-gradient(top,  #4a515b 0%, #ff6868 0%, #ff6d6d 54%, #ffaeae 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4a515b 0%,#ff6868 0%,#ff6d6d 54%,#ffaeae 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4a515b 0%,#ff6868 0%,#ff6d6d 54%,#ffaeae 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a515b', endColorstr='#ffaeae',GradientType=0 ); /* IE6-9 */
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.blogInfo span{
font:12px/14px 'Open Sans', sans-serif;
font-weight: 700;
color: #dddddd;
display:inline-block;
margin-bottom: 19.5px;
}
.blogInfo p{
color:#99a0a8;
}
.blog ul li:nth-child(even){
margin-right: 0;
}
.loadMore{
text-align: center;
}
.loadMore a{
display: inline-block;
font:12px/14px 'Open Sans', sans-serif;
font-weight: 700;
color: #ffffff;
background-color: #ff6868;
padding: 16px 25.5px;
border-radius: 6px;
}
.loadMore a:hover{
background-color: #e41515;
}
.loadArrow{
background-image: url('../images/sprite.png');
background-repeat: no-repeat;
display: inline-block;
vertical-align: middle;
height: 12px;
width: 13px;
margin-left: 7px;
background-position:-178px 0;
margin-top: -3px;
}
.newsLetter{
	background:url('../images/newsletter.png')no-repeat;
	padding-top: 62px;
	padding-bottom: 62px;
	background-size: cover;
	margin-bottom: 92px;
}
.subscribeContent{
width: 526px;
float: left;
}
.subscribeContent h3{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4a515b+0,ff6868+0,ff6868+55,a3575c+100 */
background: #4a515b; /* Old browsers */
background: -moz-linear-gradient(top,  #4a515b 0%, #ff6868 0%, #ff6868 55%, #a3575c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4a515b 0%,#ff6868 0%,#ff6868 55%,#a3575c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4a515b 0%,#ff6868 0%,#ff6868 55%,#a3575c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a515b', endColorstr='#a3575c',GradientType=0 ); /* IE6-9 */
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom: 21.5px;
}
.subscribeContent p{
color: #ffffff;
width: 443px;	
margin-bottom: 19.5px;
}
.pricing{
	margin-bottom: 92px;
}
.pricing h2{
margin-bottom: 55px;
}
.pricing > .container > ul > li{
	width: 300px;
	margin-right: 20px;
	border:2px solid #f5f7f9;
	border-radius: 7px;
	box-sizing: border-box;
	float: left;
}
.pricing > .container > ul > li:nth-child(3){
	margin-right: 0;
}
.pricing > .container > ul > li.clear{
	width: 0;
	margin-right:0;
	float: none;
}
.subHeading{
background-color: #39414b;
padding: 39px 25px;
border-radius: 7px 7px 0 0;
}
.leftContent{
	float: left;
}
.leftContent h3{
font:28px/30px 'Open Sans', sans-serif;
font-weight: 800;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4a515b+0,ff6868+0,f96767+57,9e575c+100 */
background: #4a515b; /* Old browsers */
background: -moz-linear-gradient(top,  #4a515b 0%, #ff6868 0%, #f96767 57%, #9e575c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4a515b 0%,#ff6868 0%,#f96767 57%,#9e575c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4a515b 0%,#ff6868 0%,#f96767 57%,#9e575c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a515b', endColorstr='#9e575c',GradientType=0 ); /* IE6-9 */
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.leftContent span{
	font:12px/14px 'Open Sans', sans-serif;
	color:#717a84;
	display: inline-block;
	font-weight: 600;
}
.rightContent{
	float: right;
}
.rightContent span{
	font:32px/34px 'Open Sans', sans-serif;
	display: inline-block;
	color:#ff6868;
	font-weight: 700;
	margin-top: 5px;
}
.rightArrow{
background-image: url('../images/sprite.png');
background-repeat: no-repeat;
height: 19px;
width: 19px;
display: inline-block;
vertical-align: middle;
background-position:-198px 0;
}
.pricingList{
	text-align: center;
	padding-bottom:27px;
}
.pricingList ul{
	padding: 25px 89px 25px 21px; 
	text-align: left;
}
.pricingList ul li{
margin-bottom: 16px;
}
.pricingList ul li:last-child{
margin-bottom: 0;
}
.pricingList ul li span{
	font:16px/18px 'Open Sans', sans-serif;
	display: inline-block;
	vertical-align: middle;
	color: #99a0a8;
	margin-left: 14px;
}
.caseStudies{
	text-align: center;
	background-color: #38404a;
	padding-top: 60px;
	padding-bottom: 60px;
}
.caseStudies p{
	font:32px/48px 'Open Sans', sans-serif;
	color: #ffffff;
	width: 830px;
	margin: 0 auto;
	margin-bottom: 12px;
}
.caseStudies span{
display: inline-block;
font:17px/21px 'Gentium Book Basic', serif;
font-weight: 400;
}
.bujeText{
color: #ffffff;
}
.time{
color: #99a0a8;
}
.caseStudies a{
	display:inline-block;
	text-align: center;
	background-color: #ff6868;
	border-radius: 50%;
}
.caseStudies .designerTwitter{
	height: 36px;
	width: 36px;
	background-position: -225px 12px;
}
.caseText{
	margin-bottom: 16px;
}