html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, 
a, img, strong, i, ul, li, form, label{
margin: 0;
padding: 0;
border: 0;
list-style-type: none;
}
@font-face {
font-family: 'Georgia';
src: url('../fonts/Georgia.eot');
src: url('../fonts/Georgia.eot?#iefix') format('embedded-opentype'),
url('../fonts/Georgia.woff') format('woff'),
url('../fonts/Georgia.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
body{
font-family: 'Georgia';
}
.container{
width: 960px;
margin: 0 auto;
}
.clear{
clear:both;
}
.topheader{
border-top: 5px solid #3b7a9d;
padding: 45px 0;
}
.logo{
float: left;
}
.logo img{
display: block;
}
.bars{
float: right;
color: #3b7a9d;
display:none;
}
.infoMob{
display:none;
}
form{
float: right;
}
input{
font:12px/14px 'Georgia';
outline:0;
}
input[type="text"]{
color: #7f7f7f;
border: 1px solid #dddddd;
padding: 10px;
width: 250px;
box-sizing: border-box;
}
input[type="submit"]{
border:0;
color: #ffffff;
background-color: #3b7a9d;
padding: 11px 9px;
}
input[type="submit"]:hover{
background-color: #09a3f9;  
}
.header{
background-color: #3b7a9d;
padding: 22.5px 0;
margin-bottom: 40px;
}
.header > .container > ul > li
{
float: left;
margin-right:30px;
}
.header > .container > ul > li.clear{
float: none;
margin-right: 0;
}
.header > .container > ul > li  a{
text-decoration: none;
font-size: 13px;
line-height: 15px;
color:#ffffff;
display: block;
}
.header > .container > ul > li  a:hover{
color: #141414;
}
.cycle-next, .cycle-prev {
display: block;
color: #FFFFFF;
font-size:17px;
text-decoration: none;
}
.cycle-next {
position: absolute;
top:21px;
left:238px;
z-index: 102;
}
.cycle-prev {
position: absolute;
top:21px;
left:47px;
z-index: 102;
}
.cycle-next:hover, .cycle-prev:hover {
text-decoration: none;
color: rgba(255, 255, 255,1);
}
#blog-slides .cycle-slideshow {
z-index: 20;
height: 400px;
width: 960px;
}
#blog-slides .cycle-slideshow .slide-image {
position: relative;
float: left;
overflow: hidden;
text-align: center;
}
#blog-slides .cycle-slideshow .slide-image img {
margin: 0 auto;
}
#blog-slides-overlay-wrapper {
width: 300px;
height: 400px;
overflow:hidden;
z-index: 101;
position: absolute;
left: 0;
top: 0;
}
#blog-slides-overlay-wrapper .blog-slides-overlay {
height: 400px;
width:300px;
padding: 21px 24px;
background: rgba(0,0,0,0.7);
color: #ffffff;
display: none;
position: absolute;
left: 0px;
z-index: 101;
box-sizing: border-box;
}
#blog-slides-wrapper .blog-title {
margin: 116px 0  27px 0;
color: #FFFFFF;
font-size: 25px;
line-height: 33px;
color: #FFFFFF;
font-weight: normal;
}
#blog-slides-wrapper .blog-info {
font-size: 16px;
line-height: 22px;
color: #ffffff;
font-weight: normal;
margin-bottom: 30px;
}
#blog-slides-wrapper .button {
float: right;
font-size: 16px;
line-height: 19px;
font-weight: normal;
text-decoration: none;
color: #ffffff;
}
#blog-slides-wrapper{
position: absolute;
height: 400px;
}
#blog-slides-wrapper .button:hover{
color: #0d9eee;
}
#blog-slides{
height: 400px;
width:960px;
}
.slider{
position: relative;
margin-bottom: 40px;
height: 400px;
}
.example-pager{
text-align: center;
width: 100%;
z-index: 150;
overflow: hidden;
position: absolute;
top:-2px;
left: 9px;
}
.example-pager > *{
cursor: pointer;
}
.example-pager span{
font-size: 50px;
width: 20px;
height:20px;
display: inline-block;
color: #ffffff;
margin-right: 12px;
}
.example-pager span.cycle-pager-active{
color:#09a3f9;
}
.visibility{
display: none;
}
.show{
display: block;
}
.equimentPic img{
display: block;
width: 100%;
}
.gymEquiptments{
margin-bottom: 27px;
}
.gymEquiptments ul{
border-bottom: 1px solid #d6d6d6;
}
.gymEquiptments ul li{
float: left;
width:225px;
padding-bottom: 38px;
margin-right: 20px;
}
.gymEquiptments ul li:nth-child(4){
margin-right: 0;
}
.gymEquiptments ul li.clear{
float:none;
width: 0;
padding-bottom: 0;
margin-right: 0;
}
.equimentPic{
margin-bottom: 12px;
}
.gymEquiptments ul li h3{
font-size: 16px;
line-height:22px;
color: #333333;
font-weight: normal;
margin-bottom: 10px;
}
.gymEquiptments ul li .infoPara{
margin-bottom: 10px;
}
.infoPara{
font-size: 13px;
line-height:18px;
color: #979797;
}
.link{
text-decoration: none;
color:#3b7a9d;
font-size: 13px;
line-height: 15px;
}
.link:hover{
color: #09a3f9;
}
.info{
margin-bottom: 38px;
}
.info > .container > ul > li{
float: left;
width: 300px;
margin-right: 30px;
} 
.info > .container > ul > li:nth-child(3){
margin-right: 0;
}
.info > .container > ul > li.clear{
float:none;
width: 0;
margin-right: 0;
}
h5{
font-size: 16px;
line-height: 19px;
color: #333333;
font-weight: normal;
margin-bottom: 24px;
}
.info ul.content li{
padding-bottom: 12px;
border-bottom: 1px solid #d8d8d8;
}
.info ul.content li:nth-child(n+2){
padding-top:12px;
}
.info ul.content li:last-child{
border-bottom: 0;
padding-bottom: 0;
}
.info ul.content li a{
font-size: 13px;
line-height:18px;
color: #3a799d;
text-decoration: none;
display: inline-block;
margin-bottom: 5px;
}
.info ul.content li a:hover{
color: #09a3f9;
}
.info ul.content li span{
display: block;
font-size: 13px;
line-height: 18px;
color: #979797;
margin-bottom: 8px;
}
.youtube{
display: block;
margin-bottom: 13px;
}
.youtube img{
display: block;
width:100%;
}
.info > .container > ul > li:nth-child(2) p{
margin-bottom:14px; 
}
.instructorPic{
padding: 4px;
border: 1px solid #d8d8d8;
float: left;
}
.instructorPic img{
display: block;
}
.instructorInfo{
float: left;
margin-left:10px;
}
h6{
font-size: 13px;
line-height: 15px;
color: #979797;
margin:4px 0 21px;
}
.instructorInfo span{
font-size: 13px;
line-height: 15px;
color: #979797;
display: block;
margin-bottom: 17px;
}
.info ul.instructors li{
padding-bottom:15px;
border-bottom: 1px solid #d8d8d8;
}
.info ul.instructors li:nth-child(n+2){
padding-top: 15px;
}
.info ul.instructors li:last-child{
border-bottom: 0;
padding-bottom: 0;
}
.footer{
background-color: #d6d6d6;
padding: 24px 0;
}
.footer span{
font-size: 12px;
line-height: 12px;
color:#999999;
display: block;
}
.header form{
display: none;
}
@media (min-width: 768px) and (max-width:1024px){
.container{
width: 738px;
}
#blog-slides{
width: 738px;
}
#blog-slides .cycle-slideshow{
width: 738px;
}
#blog-slides .cycle-slideshow .slide-image img{
width: 738px;
height: 400px;
}
.youtube{
margin-bottom: 25px;
}
.gymEquiptments ul li{
width: 177px;
margin-right:10px;
}
.info > .container > ul > li{
width: 237px;
margin-right: 10px;
}
}
@media (max-width: 767px){
.container{
width: 100%;
padding: 0 15px;
box-sizing: border-box;
}
form{
display: none;
}
.header form{
display:block;
float: none;
text-align: center;
}
input[type="text"]{
width: 150px;
}
input[type="submit"]{
background-color: #09a3f9;
}
.bars{
display: block;
margin-top: 3px;
}
.topheader{
padding: 20px 0;
}
.header{
display: none;
padding:5px 0;
margin-bottom: 10px;
}
.header > .container > ul > li{
float: none;
margin: 5px 0;
text-align: center;
}
.header > .container > ul > li  a{
font-size:18px;
line-height: 20px;
}
.slider{
width: 481px;
margin: 0 auto 10px;
height: 200px;
}
#blog-slides{
width: 481px;
height: 200px;
}
#blog-slides-wrapper{
height: 200px;
}
#blog-slides-overlay-wrapper .blog-slides-overlay{
height: 200px;
padding: 10px;
width: 250px;
}
#blog-slides .cycle-slideshow{
width: 481px;
}
#blog-slides-overlay-wrapper{
width:250px;
height: 200px;
}
#blog-slides .cycle-slideshow .slide-image img{
width: 481px;
}
#blog-slides-wrapper .blog-title{
font-size:20px;
margin:30px 0 10px;
line-height:22px;
}
#blog-slides .cycle-slideshow{
height: 200px;
}
#blog-slides-wrapper .button{
font-size: 13px;
line-height: 15px;
}
#blog-slides-wrapper .blog-info{
font-size: 12px;
line-height:18px;
margin-bottom: 5px;
}
.cycle-prev{
left: 17px;
top: 10px;
}
.cycle-next{
left:200px;
top: 10px;
}
.example-pager{
left: -2px;
top:-12px;
}
.gymEquiptments ul li{
width:48%;
margin-right:4%;
}
.gymEquiptments ul li:nth-child(even){
margin-right: 0;
}
.info{
display: none;
}
.infoMob{
display: block;
margin-bottom: 20px;
}
button.accordion {
background-color: #eee;
color: #444;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
transition: 0.4s;
}
button.accordion.active, button.accordion:hover {
background-color: #ddd;
}
button.accordion:after {
content: '\002B';
color: #777;
font-weight: bold;
float: right;
margin-left: 5px;
}
button.accordion.active:after {
content: "\2212";
}
.panel {
padding: 0 18px;
background-color: white;
max-height: 0;
overflow: hidden;
transition: 0.6s ease-in-out;
opacity: 0;
}
.panel.show {
opacity: 1;
max-height: 500px;  
}
.infoMob ul.content li a{
font-size: 13px;
line-height: 18px;
color: #3a799d;
text-decoration: none;
display: inline-block;
margin-bottom: 5px;
}
.infoMob ul.content li span{
display: block;
font-size: 13px;
line-height: 18px;
color: #979797;
margin-bottom: 8px;	
}
.infoMob ul.content li{
padding: 12px 0;
border-bottom: 1px solid #d8d8d8;
}
.infoMob ul.content li:last-child{
border-bottom: 0;
}
.infoMob ul.content li a:hover{
color:#09a3f9;
}
.youtube{
margin-top: 10px;
}
.infoPara{
margin-bottom: 10px;
}
.infoMob ul.instructors li{
padding: 15px 0;
border-bottom: 1px solid #d8d8d8;
}
.infoMob ul.instructors li:last-child{
border-bottom: 0;
}
.youtube img{
height: 290px;
}
}
@media (max-width:480px){
.slider{
width:290px;
}
#blog-slides{
width: 290px;
}
#blog-slides .cycle-slideshow{
width: 290px;
}
#blog-slides .cycle-slideshow .slide-image img{
width: 290px;
height: 200px;
}
#blog-slides-overlay-wrapper .blog-slides-overlay{
width: 290px;
}
#blog-slides-overlay-wrapper{
width: 290px;
}
.cycle-next{
left: 238px;
}
.gymEquiptments ul li{
width: 100%;
margin-right: 0;
float: none;
text-align: center;
padding-bottom: 20px;
}
}